.code-icon-box{
    

    
    width:10em;
    height:10em;
    position:absolute;
    
    left:50%;
    top:50%;
    margin-top:-5em;
    margin-left:-5em;
    line-height: 10em;
    text-align:center
}

.code-icon{

    height:inherit;
    width:inherit;
font-size:8em;
    
}