html, body { margin: 0; padding: 0; overflow:hidden }
html, body, textarea { height: 100%!important; }
*{
background:#201e1c;
color:white;
border:none;
padding:0px;
margin:0px;
resize:none;
outline:none;
}
pre {
font-family: "Ubuntu Mono",Inconsolata,Courier,monospace;
font-style: normal;
font-size:30px;
font-variant: normal;
font-weight: normal;
word-wrap: break-word;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 100%;
height:100%;
overflow-y:scroll;
border: 3px solid #fff;
padding: 15px;
}