* {
	margin: 0;
	padding: 0;
	
	/* Goin' all DOS-y */
	-webkit-font-smoothing: none;
}

body {
	background: #111;
	font: 16px/18px "Courier New", Courier, mono;
	color: #fff;
}

div.wrap {
	width: 900px;
	margin: 20px auto 0;
}

a {
	text-decoration: none;
	color: #fff;
}

h1, h3 {
	font: bold 16px/18px "Courier New", Courier, mono;
	white-space: pre;
	color: #999;
}
	h1 b {
		color: #ddd;
	}


h3 b {
	display: inline-block;
	color: #fff;
	width: 125px;
}

h3 span {
	color: #aaa;
	font-style: normal;
}
	h3 span.link:hover, a h3:hover span.link {
		-webkit-animation: blink .75s linear infinite;
		-moz-animation: blink .75s linear infinite;
		-ms-animation: blink .75s linear infinite;
		-o-animation: blink .75s linear infinite;
		animation: blink .75s linear infinite;
	}

ul {
	list-style: none;
	margin-left: 30px;
}

@-webkit-keyframes blink {
	0% {
		background: #ddd;
		color: #000;
	}
	50% {
		background: #ddd;
		color: #000;
	}
	50.01% {
		background: transparent;
		color: #aaa;
	}
	99.99% {
		background: transparent;
		color: #aaa;
	}
	100% {
		background: #ddd;
		color: #aaa;
	}
}

@-moz-keyframes blink {
   0% {
   	background: #ddd;
   	color: #000;
   }
   50% {
   	background: #ddd;
   	color: #000;
   }
   50.01% {
   	background: transparent;
   	color: #aaa;
   }
   99.99% {
   	background: transparent;
   	color: #aaa;
   }
   100% {
   	background: #ddd;
   	color: #aaa;
   }
}

@-ms-keyframes blink {
   0% {
   	background: #ddd;
   	color: #000;
   }
   50% {
   	background: #ddd;
   	color: #000;
   }
   50.01% {
   	background: transparent;
   	color: #aaa;
   }
   99.99% {
   	background: transparent;
   	color: #aaa;
   }
   100% {
   	background: #ddd;
   	color: #aaa;
   }
}

@-o-keyframes blink {
	0% {
		background: #ddd;
		color: #000;
	}
	50% {
		background: #ddd;
		color: #000;
	}
	50.01% {
		background: transparent;
		color: #aaa;
	}
	99.99% {
		background: transparent;
		color: #aaa;
	}
	100% {
		background: #ddd;
		color: #aaa;
	}
}

@keyframes blink {
  0% {
  	background: #ddd;
  	color: #000;
  }
  50% {
  	background: #ddd;
  	color: #000;
  }
  50.01% {
  	background: transparent;
  	color: #aaa;
  }
  99.99% {
  	background: transparent;
  	color: #aaa;
  }
  100% {
  	background: #ddd;
  	color: #aaa;
  }
}