article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section { display: block }
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) { display: none }
[hidden] { display: none }
html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-size: 13px;
    line-height: 1.231;
}
body,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #222;
}
abbr[title] { border-bottom: 1px dotted }
b,
strong { font-weight: bold }
blockquote { margin: 1em 40px }
dfn { font-style: italic }
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
pre,
code,
kbd,
samp {
    font-family: monospace,monospace;
    _font-family: 'courier new',monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q { quotes: none }
q:before,
q:after {
    content: "";
    content: none;
}
small { font-size: 85% }
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em }
sub { bottom: -0.25em }
ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}
dd { margin: 0 0 0 40px }
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
svg:not(:root) { overflow: hidden }
figure { margin: 0 }
form { margin: 0 }
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
label { cursor: pointer }
legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button,
input {
    line-height: normal;
    *overflow: visible;
}
table button,
table input { *overflow: auto }
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] { box-sizing: border-box }
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none }
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
input:invalid,
textarea:invalid { background-color: #f0dddd }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td { vertical-align: top }
h1,
h2 {
    font-family: 'Yellowtail';
    margin-top: 60px;
}
h1 { font-size: 100px }
h2 { font-size: 50px }

section { font-family: Verdana, Arial, Helvetica; font-size: 30px; }
pre {
    text-align: center;
    nowhitespace: afterproperty;
    width: 100%;
    overflow: hidden;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    line-height: 23px;
}
.buttons {
    float: left;
    padding-bottom: 20px;
    clear: both;
}

.name{
word-wrap:break-word;
line-height: 100px;
}
.asl{
line-height: 60px;
}
a{
color:blue
}
a:hover{
color:red;
background: url(hover.gif);
font-weight:bold
}
em{
font-size: 22px;
}
@font-face {
    font-family: 'zocial';
    src: url('fonts/zocial-regular-webfont.eot');
    src: url('fonts/zocial-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/zocial-regular-webfont.woff') format('woff'),
         url('fonts/zocial-regular-webfont.ttf') format('truetype'),
         url('fonts/zocial-regular-webfont.svg#ZocialRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.ico{
font-family: 'zocial';
}
.fl{
position:absolute;
top:4px;
left: 4px;
}
.tweet_button {
    width: 55px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 2px;
    background: url(../assets/tweet.png) black no-repeat;
}
.buffer_button {
    width: 55px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 2px;
    background: url(../assets/buffer.png) black no-repeat;
}
.fork_button {
    width: 55px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 2px;
    background: url(../assets/fork.png) black no-repeat;
}