.badge{
font-family: Verdana, Arial, Helvetica;
width: 350px;
-webkit-border-bottom-left-radius: 9px;
-moz-border-radius-bottomleft: 9px;
border-bottom-left-radius: 9px;
border-left: 1px solid #000;
border-bottom: 1px solid #000;
position: fixed;
top: 0px;
right: 0px;
height: 20px;
padding: 8px;
background-color: #fff;
font-size:12px;
box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.badge a{
text-decoration:none;
}
.vcard{
display: none;
visibility: hidden;
}
#shareme {
    width: 150px;
    height: 25px;
float:left;
}
#shareme .box {

    width: 100%;
}
#shareme .box a { color: #404040 }
#shareme .box a:hover { text-decoration: none }
#shareme .count {
    font-weight: bold;

    border-right: 2px solid #57b8d1;
    line-height: 15px;
    padding-right: 10px;
}
#shareme .share {
    margin-left: 10px;
    width: 250px;
}
#shareme .buttons {
    position: absolute;
    width: 320px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    padding: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#shareme .button {
    float: left;
    max-width: 50px;
    margin: 0 10px 0 0;
}
#shareme .facebook { margin: 0 8px 0 0 }
#shareme .twitter { margin: 0 18px 0 0 }
#shareme .linkedin { margin: 0 20px 0 0 }
@-webkit-keyframes bounce { 
    0% { margin: -40% auto }
    60% { margin: 6% auto }
    80% { margin: 3% auto }
    100% { margin: 5% auto }
}
@-moz-keyframes bounce { 
    0% { margin: -40% auto }
    60% { margin: 6% auto }
    80% { margin: 3% auto }
    100% { margin: 5% auto }
}