/*

    Welcome to the light side of the source, young padawan.

    One step closer to learn something interesting you are...

                               ____                  
                            _.' :  `._               
                        .-.'`.  ;   .'`.-.           
               __      / : ___\ ;  /___ ; \      __  
             ,'_ ""--.:__;".-.";: :".-.":__;.--"" _`,
             :' `.t""--.. '<@.`;_  ',@:` ..--""j.' `;
                  `:-.._J '-.-'L__ `-- ' L_..-;'     
                    "-.__ ;  .-"  "-.  : __.-"       
                        L ' /.------.\ ' J           
                         "-.   "--"   .-"            
                        __.l"-:_JL_;-";.__           
                     .-j/'.;  ;""""  / .'\"-.        
                   .' /:`. "-.:     .-" .';  `.      
                .-"  / ;  "-. "-..-" .-"  :    "-.   
             .+"-.  : :      "-.__.-"      ;-._   \  
             ; \  `.; ;                    : : "+. ; 
             :  ;   ; ;                    : ;  : \: 
             ;  :   ; :                    ;:   ;  : 
            : \  ;  :  ;                  : ;  /  :: 
            ;  ; :   ; :                  ;   :   ;: 
            :  :  ;  :  ;                : :  ;  : ; 
            ;\    :   ; :                ; ;     ; ; 
            : `."-;   :  ;              :  ;    /  ; 
             ;    -:   ; :              ;  : .-"   : 
             :\     \  :  ;            : \.-"      : 
              ;`.    \  ; :            ;.'_..--  / ; 
              :  "-.  "-:  ;          :/."      .'  :
               \         \ :          ;/  __        :
                \       .-`.\        /t-""  ":-+.   :
                 `.  .-"    `l    __/ /`. :  ; ; \  ;
                   \   .-" .-"-.-"  .' .'j \  /   ;/ 
                    \ / .-"   /.     .'.' ;_:'    ;  
                     :-""-.`./-.'     /    `.___.'   
                           \ `t  ._  /               
                            "-.t-._:'                


*/


/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content::-webkit-scrollbar {
  -webkit-appearance: none;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -ms-transition        : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}
.nano > .pane > .slider {
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.nano:hover > .pane, .pane.active {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 1;
}
.nano .content{ padding: 10px; }
.nano .pane { background: url(img/waffle.png); }
.nano .pane .slider { background: #8fbf5d; }

*{
padding:0px;
margin:0px;
font-family:'Maven Pro',Verdana, Arial, Helvetica;
list-style-type:none;
-webkit-user-select: none!important;
-moz-user-select: none!important;
-ms-user-select: none!important;
user-select:none!important;
}
@font-face {
font-family: 'FoundationIconsGeneral';
src: url('fonts/foundation-icons-general.eot');
src: url('fonts/foundation-icons-general.eot?#iefix') format('embedded-opentype'),
 url('fonts/foundation-icons-general.woff') format('woff'),
 url('fonts/foundation-icons-general.ttf') format('truetype'),
 url('fonts/foundation-icons-general.svg#FoundationIconsGeneral') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Zocial';
src: url('fonts/zocial-regular-webfont.eot');
src: url('fonts/zocial-regular-webfont.eot?#iefix') format('embedded-opentype'),
 url('fonts/zocial-regular-webfont.woff') format('woff'),
 url('fonts/zocial-regular-webfont.ttf') format('truetype'),
 url('fonts/zocial-regular-webfont.svg#FoundationIconsSocial') format('svg');
font-weight: normal;
font-style: normal;

}
@font-face {
font-family: 'Molot';
src: url('fonts/Molot.eot');
src: url('fonts/Molot.eot?#iefix') format('embedded-opentype'),
 url('fonts/Molot.woff') format('woff'),
 url('fonts/Molot.ttf') format('truetype'),
 url('fonts/Molot.svg#FoundationIconsSocial') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face{font-family: "CC Icons";
src: url("fonts/cc-icons.svgz#cc") format("svg"),url("fonts/cc-icons.ttf") format("truetype");
}
@font-face{font-family: "devicons";
src: url("fonts/devicons.ttf") format("truetype");
}
.ico-dev{
font-family:"devicons";
}
.ico{
font-family:"FoundationIconsGeneral";
}
.ico-soc{
font-family:"Zocial";
}
.soc{
width: 25px;
height: 25px;
cursor:pointer;
}
.soc:hover{
color:#201e1c;
background:white;
}
.cc{
font-family:"CC Icons";
font-size: 1000%;
margin-left:-20px;
}
.controls{
position:fixed;
top:0px;
left:0px;
width:200px;
height:40px;
font-size: 12px;
}
.controls label{
width: 200px;
}
#about{
width: 334px;
position:absolute;
top:0px;
left:50%;
margin-left:-167px;
height: -moz-calc(100% - 54px);
height: -webkit-calc(100% - 54px);
height: calc(100% - 54px);
float:left;
}

ul{
position:absolute;
left:0px;
padding-left: 20px;
padding-right: 20px;
}
li{
margin-bottom: 1.3333em;
}
header {
text-align: center;
padding-top: 8px;
padding-bottom: 8px;
text-shadow: -1px -1px 0 #8fbf5d, 1px -1px 0 #8fbf5d, -1px 1px 0 #8fbf5d, 1px 1px 0 #8fbf5d;
font-family: 'Molot';
font-size: 40px;
}
footer{
height: 30px;
width: 314px;
background: #201e1c;
color: white;
bottom:0px;
padding: 12px;
line-height: 36px;
overflow:hidden;
position:fixed;
left: 50%;
margin-left: -167px;
-moz-transition:1s;
-webkit-transition:1s;
-o-transition:1s;
}
footer:hover{
height: 60px;
}
footer div{
display:inline;
}
.badgetwo{
margin-top: 20px
}