* {
	margin: 0;
	padding: 0;
	font-family: "arial rounded mt bold", "lucida sans unicode", "lucida sans", "lucida grande", sans-serif;
 	color: white;
 }
 html {
  	text-align: center;
 	background-color: #111;
 }
 
 body {
 	background-color: #111;
 	font-size: 12px;
    height: 100%;
 }
 #site {
 	margin-top: 5em;
 	margin-left: auto;
 	margin-right: auto;
    width: 68em; 
 	text-align: left;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-box-shadow: 0 0 20px #222;
    -webkit-box-shadow: 0 0 20px #333;
    border: 1px solid #333;
    padding: 2em;
 }
 @media (max-width: 900px) {
    #site {
        width: 90%;
    }
    #site #services li {
        width:auto;
        float:none;
    }
}
 
 p, h2, h1, li {
 	line-height: 2;	
 }
 p {
    font-size: 1.2em;
 } 
 h1 {
 	
 }
 
 a {
 	color: #9f3;
 	text-decoration: none;
 	padding: 2px 5px;
 }
 a:hover {
 	background-color: #999;
 	color: #333;
 }
 a abbr {
 	color: #9f3;
 }
 a:hover abbr {
    color: #333;
 }
 abbr.silent {
    border: 0;
 } 
 
 #bottom {
    clear: both;
 	font-size: 0.85em;
 }
 #bottom p {
 	color: #666;
 	text-align: right;
 }
 
 
 .more {
 	font-size: 0.4em;	
 }
 
 hr {
 	border: 0;
 	height: 0;
 	width: 100%;
 	border-bottom: 1px solid #9f3;
 	margin: 0.5em 0em;
    clear: both;
 }
 .ghost {
    visibility: hidden;
 }

 ul li {
    float: left;
    width: 33.333%;
    width: 48%;
    margin-right: 1em;
    margin-bottom: 1em;
    list-style: none;
 }

ul a {
    position: relative;
    display:block;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #222;
}
a {
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    -moz-text-shadow: 0 0 1px black;
}
ul a:hover {
    background-color: #333;
    color: white;
}

ul li a::after {
    content: attr(href);
    color: #999;
    font-weight: 400;
    position: absolute;
    right: 10px;
    font-family: "american typewriter", georgia, serif;;
    visibility: hidden;
    padding-left: 1em;
}
ul li a:hover::after {
    visibility: visible;
}

ul a {
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: scale; 
}
ul a:hover {
    -webkit-transform: scale(1.02);
}
